:root {    
    --color01: #252525; 
    --color02: #f52040; 
    --color03: #91f779; 
    --color04: #fba753; 
    --color05: #2040f5; 
    --color06: #a13ef7; 
    --color07: #00bfff; 
    --color08: #b5b5b5; 
    --color09: #3a3a3a; 
    --color10: #f87eaa; 
    --color11: #00e687; 
    --color12: #f6e13c; 
    --color13: #8172ff; 
    --color14: #ff3ceb; 
    --color15: #0cdaff; 
    --color16: #e0e0e0; 
    --color17: #a5a5a5; 
    --color18: #050505; 
    --color19: #101010; 
}